@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: always;
  }
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
